@{
    ViewBag.Title = "Home Page";
}

<div class="feed col-xs-8">

    <!--
        Blueprint der DIV-Box für anziege eines RSS-Items
    -->
    
    <div class="RSS-Item Row">
        <div class="Row RSS-Item-Header">
            <div class="RSS-Item-Title col-xs-10">
                ___RSS-ITEM-TITEL___
            </div>
            <div class="RSS-Item-Category col-xs-2" title="___RSS-ITEM-KATEGORIEN___">
                ___RSS-ITEM-KATEGORIEN___
            </div>
        </div>

        <div class="Row RSS-Item-Content">
            ___RSS-ITEM-CONTENT___
        </div>

        <div class="Row RSS-Item-Footer">
            <div class="col-xs-3 RSS-Item-Date">
                ___RSS-ITEM-PUBLISHING-DATUM___
            </div>
            <div class="col-xs-9 RSS-Item-Source">
                <a href="___RSS-SOURCE-LINK___">___RSS-SOURCE-NAME___</a>
            </div>
        </div>
    </div>

</div>
<div class="sources col-xs-4">

    <!--
        Blueprint der DIV-Box für anziege eines RSS-Feeds
    -->  
    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-xs-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="___RSSIMAGE___" class="aligner" />
        </div>
        <div class="RSS-Link col-xs-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner" href="___RSSLink___">
                ___RSSTITLE___
            </a>
        </div>
        <div class="RSS-Subscription col-xs-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" onchange="UnSubscribe(___RSSLINK___)"/>
        </div>
    </div>

</div>
