@{
    ViewBag.Title = "Home Page";
}

<div class="feed col-sm-8">
    Insert RSS-Items here
</div>
<div class="sources col-sm-4">


    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Tagesschau
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                YouTube
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Twitter
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Facebook
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <input type="checkbox" class="aligner" />
        </div>
    </div>

</div>
