@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="feed col-xs-8" id="feed">

</div>
<div class="sources col-xs-4" id="sources">
    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Spiegel
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <span class="glyphicon glyphicon-remove-circle aligner" onclick="UnSubscribe(this, 'http://www.spiegel.de/politik/index.rss')" remove></span>
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Heise
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <span class="glyphicon glyphicon-remove-circle aligner" onclick="UnSubscribe(this, 'https://www.heise.de/newsticker/heise.rdf')" remove></span>
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Süddeutsche
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <span class="glyphicon glyphicon-remove-circle aligner" onclick="UnSubscribe(this, 'http://rss.sueddeutsche.de/app/service/rss/alles/index.rss')" remove></span>
        </div>
    </div>

    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                BMWI
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <span class="glyphicon glyphicon-remove-circle aligner" onclick="UnSubscribe(this, 'http://www.bmwi.de/SiteGlobals/BMWI/Functions/RSSFeed/DE/RSSFeed-Kompakt.xml;jsessionid=649E32E3D68C44F9A088A1CACD230538')" remove></span>
        </div>
    </div>
    
    <div class="RSS-Source Row btn" data-toggle="modal" data-target="#NewFeedModal">
        <div class="Row alignContainer">
            <span class="alignHelper"></span>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="aligner"> Add Custom Feed </span>
        </div>
    </div>
</div>

