@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="feed col-xs-8" id="feed">

</div>
<div class="sources col-xs-4" id="sources">
    <div class="RSS-Source Row">
        <div class="RSS-Thumbnail col-sm-3 alignContainer">
            <span class="alignHelper"></span>
            <img src="blacla.png" class="aligner" />
        </div>
        <div class="RSS-Link col-sm-7 alignContainer">
            <span class="alignHelper"></span>
            <a class="aligner">
                Spiegel
            </a>
        </div>
        <div class="RSS-Subscription col-sm-2 alignContainer">
            <span class="alignHelper"></span>
            <span class="glyphicon glyphicon-remove-circle aligner" onclick="UnSubscribe(this, 'http://www.spiegel.de/politik/index.rss')" remove></span>
        </div>
    </div>

    <div class="RSS-Source Row">

    <div class="RSS-Source Row btn" data-toggle="modal" data-target="#NewFeedModal">
        <div class="Row alignContainer">
            <span class="alignHelper"></span>
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span class="aligner"> Add New Feed </span>
        </div>
    </div>
</div>
    </div>

