<div class="RSS-Item Row">
    <div class="Row RSS-Item-Header">
        <div class="RSS-Item-Title col-xs-10">
            ___RSS-ITEM-TITEL___
        </div>
        <div class="RSS-Item-Category col-xs-2" title="___RSS-ITEM-KATEGORIEN___">
            ___RSS-ITEM-KATEGORIEN___
        </div>
    </div>

    <div class="Row RSS-Item-Content">
        ___RSS-ITEM-CONTENT___
    </div>

    <div class="Row RSS-Item-Footer">
        <div class="col-xs-3 RSS-Item-Date">
            ___RSS-ITEM-PUBLISHING-DATUM___
        </div>
        <div class="col-xs-9 RSS-Item-Source">
            <a href="___RSS-SOURCE-LINK___">___RSS-SOURCE-NAME___</a>
        </div>
    </div>
</div>