@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @foreach (var feed in ViewBag.allFeeds)
        {
            @*<div class="RSS-Item Row">
                <div class="Row RSS-Item-Header">
                    <div class="Row RSS-Item-Title col-xs-10">
                        <a href="#">feed.title</a>
                    </div><div class="Row RSS-Item-Category col-xs-2">
                        feed.category
                    </div>
                </div><div class="Row RSS-Item-Content">
                    feed.description
                </div><div class="Row RSS-Item-Footer">
                    <div class="Row col-xs-3 RSS-Item-Date">
                        feed.pubDate
                    </div><div class="Row col-xs-9 RSS-Item-Source">
                        <a href="#">Test</a>
                    </div>
                </div>
            </div>*@
        }
        </div>
    </body>
</html>
